<!DOCTYPE html>

<header>
    <title>Osama Salem</title>
    <link rel="stylesheet" href="/global.css" />

</header>

<html lang="en">

<body>
    <div class="body">
        <header>
            <h1>Osama Salem</h1>
        </header>
        <section class="section">
            <div class="container">
                {% block content %} {% endblock content %}
            </div>
        </section>
        <footer>
            <hr>
            <p><a href=".">About</a> | LinkedIn | Github | Resume</p>
            <p>Copyright to Osama Salem 2025</p>
        </footer>
    </div>
</body>

</html>
