<!DOCTYPE html>
<html lang="en" encoding="utf-8">

<head>
    <meta charset="UTF-8">
    <title>Osama Salem</title>
    {% set url = get_url(path="global.css") %}
    <link rel="stylesheet" href="{{url}}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="/icon.png">
</head>


<body>
    <div class="body">
        <header>
            <a href="/"><h1><span class="icon"></span>Osama Salem</h1></a>
        </header>
        <section class="section">
            <div class="container">
                {% block content %} {% endblock content %}
            </div>
        </section>
        <footer>

            <p>
                    <a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                | <a target="_blank" href="https://www.linkedin.com/in/osama-salem-5a432546/"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a>
                | <a target="_blank" href="https://github.com/osamasalem"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
                | <a target="_blank" href="/about"><i class="fa fa-address-card" aria-hidden="true"></i>  About</a>
            </p>
                <p>Copyright ©  to Osama Salem 2025</p>
            <p>Powered by <a target="_blank" href="https://www.getzola.org/">Zola©</a> </p>

        </footer>
    </div>
</body>

</html>
