{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Who am I?

</h1>
<span>
    A senior software developer with deep roots in system-level engineering and a passion for building reliable, high-performance software. With nearly 20 years of experience across C/C++, .NET, JavaScript, and Java, I've delivered everything from low-latency drivers and VOIP systems to large-scale, cloud-based web platforms handling tens of thousands of requests per second. I enjoy solving tough technical problems, leading cross-functional teams, and exploring emerging technologies like Rust, Elixir, and Go. This blog is my space to share insights from real-world software development—whether it's debugging quirks, architecture patterns, or thoughts on evolving tech.
</span>
<h2>Posts</h2>
<p><a href="{{ get_url(path='@/blog/_index.md') }}">Posts</a>.</p>
{% endblock content %}
