{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Who am I?

</h1>
<span>
    I am humble software engineering enthuthiest spent his career time in systems development
    <uL>
    <li> In my <a target="_blank" href="/blog">blog</a> you will find my posts about technology.</li>
    <li> if you just stumbled upon here, you can play this <a target="_blank" href="/game">game</a> ;).</li>
    </ul>
</span>
<h2>Posts</h2>
<ul>
{% set section = get_section(path="blog/_index.md") %}
{% for post in section.pages  %}
<li><strong>{{post.date}} : </strong><a href="{{post.permalink}}">{{post.title}}</a>
<p>{{post.summary | safe}} <a href="{{ post.permalink }}#continue-reading"> Continue...</a></p>
</li>
{% endfor%}
</ul>
{% endblock content %}
